* {
    box-sizing: border-box;
    font-family: "Pacifico", cursive;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
}

ul, ol{
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.game {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 25px;
}

.letters {
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
}

.letter {
    text-transform: uppercase;
}

.word {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.word-letter {
    border-bottom: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 35px;
    font-size: 40px;
    left: 30px;
}

.gallows {
    border: 1px solid black;
    height: 400px;
    flex-shrink: 0;
    padding: 30px;
    position: relative;
}

.gallows div {
    display: none;
}

#kran {
    border-left: 2px solid black;
    border-top: 2px solid black;
    width: 250px;
    height: 100%;
    position: relative;
}

#kran::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    border-left: 2px solid black;
}

#head {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid black;
    position: absolute;
    top: 80px;
    right: 190px;
}

#body {
    width: 60px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid black;
    position: absolute;
    top: 140px;
    right: 190px;
}

#left-leg {
    height: 80px;
    border-left: 2px solid black;
    position: absolute;
    top: 255px;
    left: 260px;
    transform: rotate(10deg);
}

#left-hand {
    height: 80px;
    border-left: 2px solid black;
    position: absolute;
    top: 170px;
    left: 244px;
    transform: rotate(10deg);
}

#right-leg {
    height: 80px;
    border-right: 2px solid black;
    position: absolute;
    top: 255px;
    right: 202px;
    transform: rotate(-10deg);
}

#right-hand {
    height: 80px;
    border-right: 2px solid black;
    position: absolute;
    top: 170px;
    right: 186px;
    transform: rotate(-10deg);
}

.game-over {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 99, 71, 0.7);
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 65px;
    text-transform: uppercase;
    display: none;
}

.game-over.active {
    display: block;
}
